html{
    background-color: palegreen;
}
h1{
    font-family: "BIZ UDPGothic";
    color: ghostwhite;
    font-style: italic;
    font-size: 40px;
}
h2{
    font-family: "BIZ UDPGothic";
    color: ghostwhite;
    font-style: italic;
    font-size: 15px;
}