html{
    background-color: palegreen;
}
h1{
    font-family: "BIZ UDPGothic";
    color: ghostwhite;
    font-style: italic;
    font-size: 40px;
}
h2{
    font-family: "BIZ UDPGothic";
    color: ghostwhite;
    font-style: italic;
    font-size: 15px;
}
.tab{
    overflow: hidden;
    border: palegreen 1px solid;
    background-color: palegreen;
}
.tab button{
    background-color: palegreen;
    border: none;
    float: left;
    color: ghostwhite;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover{
    background-color: palegreen;
}
.tabcontent{
    display: inherit;
    padding: 6px 12px;
    border: palegreen 1px solid;
    border-top: none;
}